:root {
  --primary-font: Roboto, sans-serif;
  --primary-text-color: #757575;
  --titles-color: #212121;
  --accent-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --accent-blue-color: #2196f3;
  --decoration-color: #afb1b8;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* global container & sections settings */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* link, list, image settings */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo */

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo__first-word {
  color: var(--accent-blue-color);
}

.logo--white {
  color: var(--accent-text-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  margin-right: 0;
}

/* header */

.header-section {
  border-bottom: 1px solid #ececec;
}
.header-section__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation__list {
  display: flex;
}
.navigation__item:not(:last-child),
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item,
.contacts-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation__link {
  display: block;
  padding: 32px 0;
  color: var(--titles-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: var(--accent-blue-color);
}
.navigation__item {
  position: relative;
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: var(--accent-blue-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
}

.contacts-list__link {
  display: flex;
  padding: 32px 0;
  align-items: center;
  color: var(--primary-text-color);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__icon {
  margin-right: 10px;
}

/* header & footer hover/focus */

.navigation__link:hover,
.navigation__link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent-blue-color);
  fill: var(--accent-blue-color);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-blue-color);
  border-radius: 50%;
}

/* footer */

.footer {
  padding: 60px 0;
  background-color: var(--accent-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address-and-logo,
.socials,
.subscription {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.address__link {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link--white-text {
  color: var(--accent-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__list {
  display: flex;
  flex-direction: row;
  width: 206px;
  height: 44px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__text,
.subscription__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-text-color);
}

/* .footer__subscription {
  justify-content: flex-end;
  margin: 0;
} */

.subscription-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  color: var(--primary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__lable:focus-within .form__input {
  border: 1px solid var(--accent-blue-color);
}
.subscription-button {
  display: inline-flex;
  padding: 10px 29px;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--primary-background-color);
  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.subscription-button__text {
  margin-right: 10px;
}

/* main for a start page */
/* hero section */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-background-color);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(58, 48, 47, 0.4)
    ),
    url(../images/hero.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__container {
  width: 696px;
  text-align: center;
}

.hero-section__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
.hero-button {
  padding: 10px 32px;

  background-color: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}
/* backdrop & modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.5;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: scale 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-blue-color);
}

/* form */

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__title {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titles-color);
}

.form-label {
  position: relative;
  margin-bottom: 10px;
}

.form-lable__title,
.comment-lable__title {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-lable__input {
  display: flex;
  height: 40px;
  width: 448px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-lable {
  margin-bottom: 20px;
}
.comment-lable__comment {
  display: flex;
  width: 448px;
  padding: 12px 16px;

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-lable__icon {
  display: flex;
  position: absolute;
  bottom: 25%;
  left: 15px;
  transform: translateY(25%);

  width: 18px;
  height: 18px;

  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:focus-within .form-lable__icon {
  fill: var(--accent-blue-color);
}
.form-label:focus-within .form-lable__input,
.comment-lable:focus-within .comment-lable__comment {
  border: 1px solid var(--accent-blue-color);
}

.agreement-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.agreement-lable__iconcheck {
  display: flex;

  margin-right: 8px;
  width: 16px;
  height: 15px;
  fill: var(--titles-color);
}

.agreement-lable__iconcheck:hover {
  fill: var(--accent-blue-color);
}

.agreement-lable__checkbox:checked + .agreement-lable__iconcheck {
  background-image: url(..//images/icon-check.svg);
  fill: transparent;
}

.agreement-lable__text {
  display: flex;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.agreement-lable__link {
  color: var(--accent-blue-color);
}

.submit-button {
  display: block;
  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-text-color);
  background-color: var(--accent-blue-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

/* advantages, businessline, team, clients sections */
/* common list settings */

.advantages-section__list,
.businessline-section__list,
.team-section__list {
  display: flex;
}
.advantages-section__item,
.team-section__item {
  width: calc((100% - 90px) / 4);
}
.advantages-section__item:not(:last-child),
.businessline-section__item:not(:last-child),
.team-section__item:not(:last-child),
.clients-section__item:not(:last-child) {
  margin-right: 30px;
}

.businessline-section__title,
.team-section__title,
.clients-section__title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--titles-color);
  margin-bottom: 50px;
}
/* advantages section */

.advantages-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}
.advantages-icon__image {
  width: 70px;
  height: 70px;
}
.advantages-section__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color);
  margin-bottom: 10px;
}
.advantages-section__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* businessline section */

.businessline-section__list {
  display: flex;
  padding-top: 0px;
  padding-bottom: 94px;
}
.businessline-section__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.businessline-section__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team section */

.team-section {
  background-color: var(--secondary-background-color);
}

.team-section__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-section__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.team-section__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.team-section__contact-details {
  display: flex;
  min-width: 206px;
  height: 44px;
  justify-content: center;
}

.team-section__contact-item {
  display: flex;
  height: 44px;
  width: 44px;
  box-shadow: none;
}

.team-section__contact-item:not(:last-child) {
  margin-right: 10px;
}

.team-section__contact-link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--decoration-color);

  background-color: transparent;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section__contact-link:hover,
.team-section__contact-link:focus {
  background-color: var(--accent-blue-color);
  fill: var(--accent-text-color);
  border-radius: 50%;
}

.socials-icon {
  width: 20px;
  height: 20px;
}

/* clients section */

.clients-section__list {
  display: flex;
}

.clients-section__item {
  width: 170px;
  height: 92px;
}

.clients-section__item:not(:last-child) {
  margin-right: 30px;
}

.clients-section__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--decoration-color);
  border-radius: 4px;
  fill: var(--decoration-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-section__link:hover,
.clients-section__link:focus {
  border: 1px solid var(--accent-blue-color);
  fill: var(--accent-blue-color);
}
.logo-icon {
  width: 106px;
  height: 60px;
}

/* main for portfolio page */

.portfolio-section__buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-section__button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  color: var(--titles-color);
  box-shadow: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button--active {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--accent-blue-color);
  color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--accent-blue-color);
  color: var(--accent-text-color);
  border: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section__works-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-section__work-item {
  width: calc((100% - 60px)) / 3;
  height: 404px;
  margin-bottom: 30px;
}

.portfolio-section__work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-section__work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-section__link {
  display: block;
}

.portfolio-section__link:hover,
.portfolio-section__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section__overlay-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-section__overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  transform: translateY(0px);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section__link:hover .portfolio-section__overlay,
.portfolio-section__link:focus .portfolio-section__overlay {
  transform: translateY(-100%);
}
.portfolio-section__overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.portfolio-section__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-section__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color);
  margin-bottom: 4px;
}
.portfolio-section__work-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
