.contacts-list {
  display: flex;
}

.contacts-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-list__icon {
  margin-right: 10px;
}

.contacts-list__link {
  display: flex;
  padding: 32px 0;
  align-items: center;
  color: $primary-text-color;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-blue-color;
    fill: $accent-blue-color;
  }
}
